.navbar {
  .nav-link {
    color: #495057;
    font-weight: 500;
    position: relative;
    transition: color 0.3s;
  }

  .nav-link:hover {
    color: #0d6efd;
  }

  /* Active link */
  .nav-link.active {
    color: #0d6efd !important;
    font-weight: 600;
  }
}
